* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: Garamond, sans-serif;
    font-size: 24px;
    min-height: 200vh;
}
.outer-container {
    position: relative;
    max-width: 800px;
    height: 80vh;
    border: 3px dashed purple;
    margin: 20px auto;
}
.inner-container {
    position: relative;
    max-width: 300px;
    height: 70%;
    border: 3px solid lime;
    margin: 50px auto 0;
}
.box {
    width: 100px;
    height: 100px;
    background-color: royalblue;
}
.gold {
    background-color: gold;
    position: relative;
    top: 150px;
    left: 100px;
}

.blue {
    position: relative;
    right: 250px;
}

.orange {
    background-color: orangered;
    position: absolute;
    right: 230px;
    bottom: 150px;
}

.fixed {
    background-color: darkcyan;
    position: fixed;
    right: 100px;
    bottom: 100px;
}

.title {
    background-color: #333;
    color: #fff;
    padding: 25px;
    text-align: center;
    user-select: none;
    text-transform: uppercase;
    position: sticky;
    top: 0;
    z-index: 1;
}

.go-up {
    display: block;
    position: fixed;
    bottom: 70px;
    right: 50px;
    z-index: 2;
    /* background: #fff; */
    color: tomato;
    font-size: 35px;
    text-decoration: none;
}
