* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-size: 34px;
}

.parent {
    background-color: royalblue;
    /* width: auto;  bu default kod*/
    /* width: 100px; */
    /* width: 90%; */
    /* width: 1000px; */
    max-width: 1000px;
    margin: 0 auto;

    /* height: auto;  bu ham default kod*/
    /* height: 500px; */
    /* height: 200px; */
    /* overflow: scroll; */

    padding: 50px;
}

.child {
    background-color: bisque;
    margin-bottom: 10px;
    /* width: 1000px; */
    /* width: 100%; */
    width: 80%;
}
.child:first-child {
    background-color: red;
}
.child:nth-child(11) {
    background-color: purple;
}
.child:last-child {
    background-color: white;
}
