:root {
    /* Colors */
    --color-primary: #071555;
    --color-secondary: #1a52e4;
    --color-gradient-start: #5c80ff;
    --color-bg-light: #fafafa;

    --color-text-light: #ffffff;
    --color-text-dark: #0c0b0b;
    --color-text-grey: #888484;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.3px;
}

.wrapper {
    max-width: 1380px;
    margin-inline: auto;
}

.btn {
    background: linear-gradient(
        86.96deg,
        var(--color-gradient-start) 4.36%,
        var(--color-secondary) 93.5%
    );
    border-radius: 20px;
    border: none;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #ffffff;
    transition: all 0.1s linear;
    cursor: pointer;
}

.btn:hover {
    scale: 0.99;
}
.btn:active {
    scale: 0.95;
}

/* Header styles start */

.header {
    background-color: var(--color-primary);
}

.header__wrapper {
    display: flex;
    padding: 41px 0;
}

.header__logo {
    color: var(--color-text-light);
    font-family: "Inter";
    font-weight: 700;
    font-size: 30px;
    line-height: 125%;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: auto;
}
.header__logo:hover,
.header__logo:active,
.header__logo:focus {
    opacity: 0.8;
}

.header__navigation {
    display: flex;
    align-items: center;
}
.header__list {
    display: flex;
    column-gap: 30px;
    padding: 9.5px 22px;
    margin-right: 42px;
}
.header__list-link {
    color: var(--color-text-light);
    font-family: "Inter";
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
}
.header__list-link:hover,
.header__list-link:active,
.header__list-link:focus {
    opacity: 0.8;
}

.header__search {
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.408px;
    color: black;
    padding: 7px 8px 7px 36px;
    background-image: url(../img/svg/magnifyingglass.svg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 8px;
    border-radius: 10px;
    border: none;
    outline: none;
    opacity: 0.93;
}

.header__search:hover,
.header__search:active,
.header__search:focus {
    opacity: 1;
}

.header__search:focus,
.header__search:active {
    outline: 1px solid white;
}

/* Header styles end */

/* Hero section styles start */

.hero {
    background-color: var(--color-primary);
    color: var(--color-text-light);
}

.hero__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 21px 0 75px 0;
}
.hero__content {
    max-width: 611px;
}
.hero__title {
    font-weight: 500;
    font-size: 70px;
    line-height: 80px;
    color: #fcfcfc;
    margin-bottom: 32px;
}

.hero__text {
    line-height: 26px;
    color: #fcfcfc;
    margin-bottom: 32px;
}

.hero__btn {
    padding: 13px 52px 13px 43px;
}

.hero__img {
    background: url(../img/pattern-1.png) no-repeat top right;
    max-width: 611px;
    padding: 33px 28px 17px 27px;
}

.hero__thumb {
    max-width: 556px;
    border-radius: 20px;
}
/* Hero section styles end */

/* Service section styles start */

.service {
    background-color: #fafafa;
    background-image: url(../img/service-bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 42% 70%;
}
.service__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 90px 0;
}

.service__content {
    max-width: 418px;
}

.service__title {
    font-weight: 600;
    font-size: 60px;
    line-height: 65px;
    letter-spacing: 0.5px;
    color: var(--color-text-dark);
    margin-bottom: 32px;
}

.service__text {
    line-height: 30px;
    letter-spacing: 0.35px;
    color: var(--color-text-grey);
    margin-bottom: 32px;
}
.service__btn {
    padding: 13px 52px 13px 43px;
}

.service__cards {
    max-width: 743px;
    padding: 32px 24px 33px 53px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 50px;

    background: url(../img/pattern-2.png) no-repeat top right,
        url(../img/pattern-3.png) no-repeat bottom left;
}

.service__card {
    padding: 37px 26px;
    max-width: 308px;
    min-height: 316px;
    background-color: #fff;

    border-top: 2.66px solid black;

    box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.05),
        2px 2px 4px rgba(0, 0, 0, 0.05);

    transition: all 0.3s ease-out;
}
.service__card:hover {
    scale: 1.03;
}

.service__card:nth-child(1) {
    border-top-color: #d1b4fb;
}
.service__card:nth-child(1) .service__card_logo {
    fill: #d1b4fb;
}

.service__card:nth-child(2) {
    border-top-color: #59bfe0;
}
.service__card:nth-child(2) .service__card_logo {
    fill: #59bfe0;
}
.service__card:nth-child(3) {
    border-top-color: #1a52e4;
}
.service__card:nth-child(3) .service__card_logo {
    fill: #1a52e4;
}
.service__card:nth-child(4) {
    border-top-color: #fa8586;
}
.service__card:nth-child(4) .service__card_logo {
    fill: #fa8586;
}

.service__card_logo {
    margin-bottom: 23px;
}

.service__card_title {
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.35px;
    color: #000000;
    margin-bottom: 13px;
}

.service__card_text {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.5px;
    color: #000000;
}
/* Service section styles end */

/* About section styles start */

.about {
    background-color: #fbfbfb;
}

.about__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 126px 0 121px;
}

.about__content {
    max-width: 620px;
}

.about__title {
    font-weight: 600;
    font-size: 60px;
    line-height: 50px;
    letter-spacing: 0.5px;
    color: var(--color-text-dark);
    margin-bottom: 32px;
}
.about__title::before {
    display: block;
    content: "";
    width: 74px;
    height: 6px;
    background-color: var(--color-secondary);
    margin-bottom: 24px;
}
.about__title > span {
    color: var(--color-secondary);
}

.about__text {
    line-height: 32px;
    letter-spacing: 0.8px;
    color: var(--color-text-grey);
    margin-bottom: 32px;
}

.about__btn {
    padding: 13px 56px 13px 47px;
}

.about__video {
    max-width: 620px;
}

.about__video_img {
    position: relative;
    box-shadow: 37.17px 40.28px 0px 1px #e6ebff;
    -webkit-box-shadow: 36px 38px 0px 1px #e6ebff;
    -moz-box-shadow: 36px 38px 0px 1px #e6ebff;
}

.about__video_thumb {
    width: 100%;
}

.about__video_play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* About section styles end */
