* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Garamond, sans-serif;
  min-height: 100vh;
  padding: 20px;
}

h1 {
  text-align: center;
}

.container {
  max-width: 800px;
  min-height: 500px;
  border: 3px solid #333;
  margin-inline: auto;
}

.box {
  /* min-width: 100px; */
  min-height: 100px;
  background-color: #000;
  color: #ff2;
  font-size: 32px;
  flex-basis: 100px;
}

.container {
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
  flex-wrap: wrap;
  /* align-content: center; */
}
.box1 {
  flex-grow: 1;
  flex-shrink: 0;
}

.box2 {
  flex-grow: 2;
}

.box3 {
  flex-grow: 3;
}
